<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= "入力エラー：#{@user.errors.count}項目" %>
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
