@import "bootstrap-sprockets";
@import "bootstrap";

/*    Universal    */

body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

/*    mixin, valuables, etc    */
@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.debug_dump {
clear: both;
float: left;
width: 100%;
margin-top: 45px;
@include box_sizing;
}

/*    Typography    */

body {
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
}

/*    Header    */

header {
  width: 100%;
  background-color: #00bfff;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
  #logo {
    float: left;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    margin: 0;
  }
  .nav-menu {
    float: right;
    list-style: none;
    margin-top: 4px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
      a {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

/*    Wrapper    */

/*    Aside    */

aside {
  section.user_info {
    text-align: center;
  }
  section{
    .gravatar {
      margin-bottom: 10px;
      border-radius: 100%;
    }
    .user_name{
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/*    Footer    */

footer {
  width: 100%;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 13px;
  padding: 30px 0px;
  margin-top: 50px;
  font-size: 14px;
  .nav-menu {
    text-align: center;
    margin-bottom: 30px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px;
      &:last-child {
        margin: 0;
      }
      a {
        color: #fff;
      }
    }
  }
  .sns {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 30px;
    border-top: solid 1px #5d5d5d;
    li {
      display: inline;
      margin: 0 10px;
      a {
        color: #fff
      }
    }
  }
  small {
    display: block;
    text-align: center;
  }
}

/*    Form    */

input, textarea, select, .uneditable-input {
  font-size: 18px;
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 30px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
